/* ******************** VERSION ALL start ******************** */
:root {
    --lightBlue: #0065FC;
    --extralightBlue: #DEEBFF;
    --lightWhite: #DEEBFF;
    --lightGrey: #F2F2F2;
    --lightDarkGrey: darkgrey;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

/* Listes et liens */
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Stars */
.gray {
    color: var(--lightDarkGrey);
}

.blue {
    color: var(--lightBlue);
}

.star {
    font-size: 10px;
}


.filterTxt .fas {
    color: var(--lightBlue);
    margin-right: 5px;
}

.filTx {
    color: black;
    font-weight: 400;
}

.img {
    width: 100%;
    object-fit: cover;
}

#popular {
    background-color: var(--lightGrey);
}

.popular-article {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 130px;
    padding: 5px 0px 5px 5px;
}

.margeX {
    margin-left: 20px;
    margin-right: 20px;
}

#searching {
    font-family: 'Raleway', sans-serif;
}

#searchIpt {
    color: #000000;
}

/* ******************** VERSION ALL end ******************** */


/* ******************** VERSION DESKTOP start ******************** */
@media only screen and (min-width: 992px) {

    /* TAGS */

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    input::placeholder {
        color: var(--lightDarkGrey);
        font-weight: bolder;
        font-size: 15px;
    }

    /* ID */

    /* Navigation Bar start */

    #barnav {
        display: inline;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    #nav a {
        margin-left: 67px;
        padding: 48px 15px 0 15px;
        border-top: solid 3px white;
    }

    #nav a:hover {
        color: var(--lightBlue);
        border-top: solid 3px var(--lightBlue);
    }

    #logo {
        width: 61px;
        height: 19px;
        padding-left: 5px;
        margin-top: 44px;
    }

    /* Navigation Bar end */

    #title h1 {
        margin-top: 63px;
    }

    #title p {
        margin-top: 8px;
        margin-bottom: 20px;
    }

    /* Filter start */
    #localisation {
        background-color: var(--lightGrey);
        width: 49px;
        height: 50px;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 15px;
    }

    #searching {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        margin-top: 20px;
    }

    #searchBtn {
        background-color: #0065FC;
        font-weight: bold;
        border: 0;
        border-radius: 0px 15px 15px 0px;
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 15px;
    }

    #searchBtn i {
        display: none;
    }

    #searchIpt {
        padding: 15px;
        border: 1px solid var(--lightGrey);
    }

    #selectFilter {
        display: flex;
    }

    #filterClic {
        display: flex;
        align-items: center;
    }

    /* Filter end */
    /* Infos start */
    #info {
        margin-top: 24px;
        margin-bottom: 34px;
    }

    #infoIcon i {
        font-size: 13px;
        color: var(--lightBlue);
        border: solid var(--lightGrey);
        border-radius: 50%;
        padding: 7px 10px 7px 10px;
    }

    #infoIcon span {
        padding-left: 20px;
    }

    /* Infos end */

    /* Lodging start */
    #lodging-part {
        display: flex;
        flex-direction: column;
        background-color: var(--lightGrey);
        border-radius: 15px;
        flex: 7;
        text-align: start;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    #lodging {
        display: flex;
    }

    /* Lodging end */
    /* Popular start */
    #popular {
        display: flex;
        background-color: var(--lightGrey);
        border-radius: 15px;
        flex: 3;
        margin-left: 40px;
        padding-bottom: 20px;
        flex-direction: column;
        padding-left: 37px;
        padding-right: 37px;
    }

    /* Popular end */

    /* CLASS */

    /* Filter start */
    .filterTxt {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        display: flex;
        border-radius: 50px;
        justify-content: space-between;
        border: solid var(--lightGrey);
        border-left: 0px;
        padding: 15px;
    }

    .filterTxt i {
        display: inline-flex;
        justify-content: space-between;
    }

    .filterTxt:hover {
        background-color: var(--extralightBlue);
    }

    /* Filter end */

    /* Lodging start */
    .pictures {
        width: 100%;
        height: 110px;
        border-radius: 25px 25px 0px 0px;
    }

    .lodging-container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .lodging-articles {
        background-color: white;
        height: 190px;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }

    .lodging-card {
        width: calc(100% / 3 - 31px);
        height: calc(100% / 2 - 30px);
    }

    .cardImg img {
        border-radius: 15px 15px 0 0;
    }

    .cardImg {
        height: 60%;
        width: 100%;
        padding: 1px 4px 0px 4px;
    }

    .cardInfos {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: space-evenly;
        padding-bottom: 10px;
        padding-top: 10px;
        gap: 9px;
    }

    .showMore,
    .titleLodging {
        display: flex;
        font-weight: bold;
        text-align: justify;
        padding-left: 27px;
    }

    .titleLodging h2 {
        margin-top: 42px;
    }

    .showMore {
        margin-bottom: 20px;
        font-size: 17px;
    }

    .showMore:hover {
        color: var(--lightBlue);
    }

    .cardInfos>h3 {
        margin: 0;
        padding: 0;
        font-size: 13px;


    }

    .cardInfos>p {
        margin: 0;
    }

    /* Lodging end */

    /* Most Popular start */
    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .popular-title h2 {
        margin-top: 42px;
    }

    .popular-title>i {
        font-size: 25px;
    }

    .popular2 {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }



    .card-pop {
        height: 33%;
        width: 100%;
    }

    .popular-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .popular-titleBody h3 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .popularImg img {
        border-radius: 15px 0 0 15px;
    }

    .popularImg {
        width: 40%;
    }

    .starText {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        justify-content: space-between;
        height: 100%;
        width: 60%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .popular-title>h3 {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: bolder;
    }

    .cardInfos_txt {
        font-size: 10px;
    }

    .pictures2 {
        width: 100%;
        height: 100%;
        border-radius: 25px 0px 0px 25px;
    }

    /* Most Popular end */

    /* Activities start */

    #activities {
        margin-top: 60px;
    }

    #title_activities {
        margin-bottom: 18px;
    }

    #bodyActivities {
        display: flex;
        justify-content: space-between;
        margin-bottom: 61px;
    }

    #bodyActivities>* {
        width: 20%;
    }


    .activities-part {
        border-radius: 20px;
        box-shadow: 1px 1px 13px var(--lightGrey);
        height: 410px;
        border: 2px solid var(--lightGrey);
    }

    .activitiesImg {
        height: 85%;
    }

    .activitiesImg {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        max-height: 100%;
    }

    .activities-part_title {
        font-size: 12px;
        padding-left: 10px;
    }

    /* Activities end */

    /* Footer start */

    footer {
        background-color: var(--lightGrey);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footerPart {
        margin-right: 13%;
    }

    .footerPart ul li {
        margin-bottom: 10%;
    }

    .txt-footer:nth-child(1) {
        margin-top: 30px;
    }

    .bold {
        font-size: 18px;
        font-weight: bold;
    }

    .bold+li,
    li {
        font-size: 16px;
    }

    /* Footer end */
}

/* ******************** VERSION DESKTOP end ******************** */


/* ******************** VERSION TABLET start ******************** */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* TAGS */

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    input::placeholder {
        color: var(--lightDarkGrey);
        font-weight: bolder;
        font-size: 15px;
    }

    /* ID */

    /* Navigation Bar start */

    #barnav {
        display: inline;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    #nav a {
        margin-left: 67px;
        padding: 48px 15px 0 15px;
        border-top: solid 3px white;
    }

    #nav a:hover {
        color: var(--lightBlue);
        border-top: solid 3px var(--lightBlue);
    }

    #logo {
        width: 61px;
        height: 19px;
        padding-left: 5px;
        margin-top: 44px;
    }

    /* Navigation Bar end */

    #title h1 {
        margin-top: 63px;
    }

    #title p {
        margin-top: 8px;
        margin-bottom: 20px;
    }

    /* Navigation Bar end */
    /* Filter start */
    #localisation {
        background-color: var(--lightGrey);
        width: 49px;
        height: 50px;
        border-radius: 15px 0px 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 15px;
    }

    #searching {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }

    #searchBtn {
        background-color: #0065FC;
        font-weight: bold;
        border: 0;
        border-radius: 0px 15px 15px 0px;
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 15px;
    }

    #searchBtn i {
        display: none;
    }

    #searchIpt {
        padding: 15px;
        border: 1px solid var(--lightGrey);
    }

    #selectFilter {
        display: flex;
    }

    #filterClic {
        display: flex;
        align-items: center;
    }

    /* Filter end */
    /* Infos start */
    #info {
        margin-top: 34px;
        margin-bottom: 39px;
    }

    #infoIcon i {
        font-size: 13px;
        color: var(--lightBlue);
        border: solid var(--lightGrey);
        border-radius: 50%;
        padding: 7px 10px 7px 10px;
    }

    #infoIcon span {
        padding-left: 20px;
    }

    /* Infos end */

    /* Lodging start */
    #lodging-part {
        display: flex;
        flex-direction: column;
        background-color: var(--lightGrey);
        border-radius: 15px;
        flex: 7;
        text-align: start;
        height: 100%;
    }

    #lodging {
        display: flex;
        flex-direction: column;
    }

    /* Lodging end */
    /* Popular start */
    #popular {
        margin-top: 53px;
        display: flex;
        background-color: var(--lightGrey);
        border-radius: 15px;
        flex: 3;
        padding-bottom: 20px;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Popular end */

    /* CLASS */

    /* Filter start */
    .filterTxt {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        display: flex;
        border-radius: 50px;
        justify-content: space-between;
        border: solid var(--lightGrey);
        border-left: 0px;
        padding: 10px;
    }

    .filterTxt i {
        display: inline-flex;
        justify-content: space-between;
    }

    .filterTxt:hover {
        background-color: var(--extralightBlue);
    }

    /* Filter end */

    /* Lodging start */
    .pictures {
        width: 100%;
        height: 110px;
        border-radius: 25px 25px 0px 0px;
    }

    .lodging-container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .lodging-articles {
        background-color: white;
        height: 190px;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }

    .lodging-card {
        width: calc(100% / 3 - 31px);
        height: calc(100% / 2 - 30px);
    }

    .cardImg img {
        border-radius: 15px 15px 0 0;
    }

    .cardImg {
        height: 60%;
        width: 100%;
    }

    .cardInfos {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: space-evenly;
        gap: 9px;
    }

    .showMore,
    .titleLodging {
        display: flex;
        font-weight: bold;
        text-align: justify;
        padding-left: 27px;
    }

    .titleLodging {
        padding-top: 10px;
    }

    .showMore {
        margin-bottom: 20px;
        font-size: 17px;
    }

    .showMore:hover {
        color: var(--lightBlue);
    }

    .cardInfos>h3 {
        margin: 0;
        padding: 0;
        font-size: 13px;
    }

    .cardInfos>p {
        margin: 0;
    }

    /* Lodging end */

    /* Most Popular start */
    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .popular-title>i {
        font-size: 25px;
    }

    .popular-article {}

    .popular2 {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
    }

    .card-pop {
        height: 33%;
        width: 100%;
    }

    .popular-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .popularImg img {
        border-radius: 15px 0 0 15px;
    }

    .popularImg {
        width: 40%;
    }

    .starText {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        justify-content: space-between;
        height: 100%;
        width: 60%;
    }

    .popular-title>h3 {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: bolder;
    }

    .cardInfos_txt {
        font-size: 10px;
    }

    .pictures2 {
        width: 100%;
        height: 100%;
        border-radius: 25px 0px 0px 25px;
    }

    /* Most Popular end */

    /* Activities start */

    #bodyActivities {
        display: flex;
        justify-content: space-between;
        margin-bottom: 61px;
    }

    #bodyActivities>* {
        width: 20%;
    }


    .activities-part {
        border-radius: 20px;
        box-shadow: 1px 1px 13px var(--lightGrey);
        height: calc(25% - 150px);
        border: 2px solid var(--lightGrey);
    }

    .activitiesImg {
        height: 85%;
    }

    .activitiesImg {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        max-height: 100%;
    }

    .activities-part_title {
        font-size: 12px;
        padding-left: 10px;
    }

    /* Activities end */

    /* Footer start */

    footer {
        background-color: var(--lightGrey);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footerPart {
        margin-right: 13%;
    }

    .footerPart ul li {
        margin-bottom: 10%;
    }

    .txt-footer:nth-child(1) {
        margin-top: 30px;
    }

    .bold {
        font-size: 18px;
        font-weight: bold;
    }

    .bold+li,
    li {
        font-size: 16px;
    }

    /* Footer end */
}

/* ******************** VERSION TABLET end ******************** */

/* ******************** VERSION MOBILE start ******************** */
@media only screen and (max-width: 767px) {

    /* tags */
    body {
        margin-top: 21px;
    }

    .margeS {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Navigation */

    nav {
        flex-direction: column;
        justify-content: center;
    }

    #nav {
        width: 100%;
        display: flex;
    }

    #nav a {
        display: flex;
        width: 50%;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: solid 3px var(--lightGrey);
        margin-left: 0px;
        padding-top: 15px;
    }

    #nav a:hover {
        color: var(--lightBlue);
        border-bottom: solid 3px var(--lightBlue);
        border-top: none;
    }

    #logo {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin: auto;
    }

    /* Titles */

    #title h1 {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    #title p {
        font-size: 16px;
    }

    /* Filter */

    #searchIpt {
        border-right: none;
        width: 70%;
    }

    #searchBtn {
        border-radius: 20%;
        font-size: 20px;
    }

    #searchBtn span {
        display: none;
    }

    #localisation {
        background-color: var(--lightGrey);
        width: 49px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30% 0 0 30%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
    }

    #searching {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        text-align: center;
        justify-content: center;
    }

    #searchBtn {
        background-color: #0065FC;
        font-weight: bold;
        border: 0;
        border-radius: 0px 15px 15px 0px;
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 15px;
    }

    #searchIpt {
        padding: 15px;
        border: 1px solid var(--lightGrey);
    }

    #filter {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        display: block;

    }

    #filterClic ul {
        flex-wrap: wrap;
        padding: 0;
    }

    #selectFilter {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .filterTxt {
        border-radius: 50px;
        border: solid var(--lightGrey);
        padding: 15px 8px;
        margin: 0 10px 35px 0;
        justify-content: space-between;
        border-left: 0px;
        font-size: 11px;
        width: 46%;
    }

    .filTx {
        display: inline-block;
        font-weight: 700;
    }

    /* Infos start */
    #info {
        margin-top: 34px;
        margin-bottom: 39px;
    }

    #infoIcon i {
        font-size: 13px;
        color: var(--lightBlue);
        border: solid var(--lightGrey);
        border-radius: 50%;
        padding: 6px 10px 6px 10px;
        float: left;
        margin-right: 11px;
    }

    #infoIcon span {
        padding-left: 5px;
        margin-left: 11px;
        display: block;
    }

    /* Infos end */

    /* Container start */

    #lodging {
        display: flex;
        flex-direction: column-reverse;
    }

    /* Container end */

    /* Most Popular */
    #popular {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0;
    }

    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .popular-title i {
        font-size: 25px;
    }

    .card-pop {
        border-radius: 20px;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: initial;
        padding: 5px;
        height: 33%;
    }

    .pictures2 {
        border-radius: 15px 0 0 15px;
        width: 100%;
        height: 100%;
    }

    .starText {
        width: 100%;
        height: 100%;
        padding-left: 10px;
    }

    .starText {
        width: 100%;
        height: 100%;
        padding-left: 10px;
    }

    .cardInfos_txt {
        font-size: 14px;
    }

    /* Lodging */

    #lodging {
        display: flex;
    }

    .lodging-articles {
        width: 100%;
        height: 100%;
        background-color: white;
        border: 2px solid var(--lightGrey);
        box-shadow: 1px 1px 13px var(--lightGrey);
        margin: 0;
        margin-bottom: 15px;
        border-radius: 20px;
        padding: 5px 5px 10px 5px;
    }

    .lodging-card {
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .pictures {
        border-radius: 15px 15px 0 0px;
    }

    .cardImg img {
        height: 115px;
    }

    .cardInfos {
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }

    .cardInfos_txt {
        font-size: 12px;
    }

    /* Activities */
    .activities-part {
        width: 100%;
        height: 100%;
        background-color: white;
        border: 2px solid var(--lightGrey);
        box-shadow: 1px 1px 13px var(--lightGrey);
        margin: 0;
        margin-bottom: 15px;
        border-radius: 20px;
        padding-bottom: 10px;
    }

    .activitiesImg {
        width: 100%;
        height: 130px;
        border-radius: 20px 20px 0 0;
    }

    .activities-part_title {
        margin-left: 19px;
    }

    /* Footer */

    footer {
        flex-direction: row;
        padding-top: 30px;
        background-color: var(--lightGrey);
        height: 377px;
    }



    .bold li {
        font-size: 13px;
    }

    .bold {
        font-weight: bold;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .txt-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
}

/* ******************** VERSION MOBILE end ******************** */